:root{
  --header-background-line:#d1d5db;
  --main-color:#2563eb;
  --main-remove:#dc2626;
  --font-color:#111827;
}

body{
  font-family: 'Heebo', sans-serif;
  font-size: 18px; 
  margin: 0;
  padding: 0;
}

header{
  border: 1px solid var(--header-background-line);
  padding: 5px 20px;
  margin-bottom: 10px;
}

h1{
  font-size: 1.3rem;
  font-weight: 400;
}


main{
  width: 100%;
  height: 100vh;
  display: flex;
  gap: 70px;
}

.customize-shadow{
  width: 30%;
  height: 100%;
  border: 5px solid white;
  border-top-color:#96c4c4;
}

.subtitle{
  width: 100%;
  height: 7%;
  margin-top: 10px;
  border: 1.5px solid white;
  border-bottom-color: var(--header-background-line);
 
}

.subtitle h2{
  font-size: 1.2rem;
  font-weight: 600;
  
}

.actions{
  width: 100%;
  height: 7%;
  margin-top: 10px;
  border: 1.5px solid white;
  border-bottom-color: var(--header-background-line);
  margin-bottom: 15px;
}

.anchor{
  text-decoration: none;
  font-size: 0.8rem;
  color: white;
  background-color: var(--main-remove);
  padding: 5px 18px;
  font-weight: 400;
  border-radius: 7px;
  margin-left: 60%;
}

.anchor:hover{
  box-shadow: -2px 2px 0 0 var(--header-background-line);
}

.horizontal{
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.horizontal-text{
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.horizontal-text h3{ 
  font-size: 0.9rem;
}

.horizontal-text input {
  width: 40px;
  height: 30px;
  margin-left: 40%;
  border-radius: 7px;
  border: 1px solid var(--header-background-line);
}

.horizontal-text p{ 
  font-size: 0.9rem;
}

.horizontal-properties{
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 0px;
  margin: 0px;
}

.horizontal-properties h3{
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.horizontal-properties input{
  width: 95%;
  height: 30px;
  border-radius: 7px;
  border: 1px solid var(--header-background-line);
}














.container-box{
  width: 45%;
  height: 100%;
  border: 5px solid white;
  border: 5px solid white;
  border-top-color:#96c4c4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .shadow{
  order: 1;
  width: 240px;
  height: 240px;
  background-color: #111827;
} */

.box{
  width: 240px;
  height: 240px;
  background-color: #c3dff9;
}

.box-Properties{
  width: 30%;
  height: 100%;
  border: 5px solid white;
  border-top-color:#96c4c4;
}
